/* CSS STYLES VERSION 04 -----------------------------------------------------------------------*/
/* GENERAL PROPERTIES --------------------------------------------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
@font-face {
  font-family: "Spartan Bold";
  src: url("./fonts/static/Spartan-Bold.ttf");
}
@font-face {
  font-family: "Spartan Medium";
  src: url("./fonts/static/Spartan-Medium.ttf");
}
@font-face {
  font-family: "Spartan Regular";
  src: url("./fonts/static/Spartan-Regular.ttf");
}

body {
  background: url("../images/bg-pattern-top-desktop.svg") no-repeat left top,
    url("../images/bg-pattern-bottom-desktop.svg") no-repeat right bottom;
}
/* END of general properties -------------------------------------------------------------------*/
.content {
  max-width: 1440px;
  margin: 0px auto;
}

/* SOCIAL PROOF SECTION --------------------------------------------------------------------------*/
.socialProof {
  display: flex;
  flex-direction: column;
  margin: 130px 11% 96px 11%;
}
/* HEADER ----------------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10%;
  font-family: "Spartan Bold", sans-serif;
}
/* INFO -----------------------*/
.info {
  width: 43%;
}
.title {
  font-size: 44px;
  margin-bottom: 13px;
  color: hsl(300, 43%, 22%);
}
.desc {
  font-family: "Spartan Medium", sans-serif;
  font-size: 14px;
  color: hsl(303, 10%, 53%);
  line-height: 24px;
}
/* END INFO -------------------*/

/* RATES ----------------------*/
.rates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  height: 220px;
}
.rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 26px;
  width: 420px;
  height: 52px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 8px 8px;
  font-size: 12px;
  color: hsl(300, 43%, 22%);
}
.stars {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.top {
  align-self: flex-start;
}
.medium {
  align-self: center;
}
.bottom {
  align-self: flex-end;
}
.rate img {
  width: 16px;
  height: 16px;
}
/* END RATES ------------------*/

/* REVIEWS --------------------*/
.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 252px;
  gap: 30px;
  margin-top: 70px;
}
.cardReview {
  width: 31%;
  background-color: hsl(300, 43%, 22%);
  padding: 36px 30px 13px;
  border-radius: 8px 8px;
  max-height: 220px;
  font-size: 12px;
}
.headerReview {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}
.photoReview {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px;
}
.infoReview {
  padding-top: 5px;
}
.name {
  font-family: "Spartan Bold", sans-serif;
  color: hsl(0, 0%, 100%);
  margin-bottom: 5px;
}
.subTitle {
  font-family: "Spartan Regular", sans-serif;
  color: hsla(293, 80%, 67%, 0.7);
}
.descReview {
  font-family: "Spartan Medium", sans-serif;
  color: hsl(0, 0%, 80%);
  line-height: 22px;
  margin-bottom: 23px;
}
/* END REVIEWS --------------------*/

/* MEDIA QUERIES ----------------------------------------------------------------------------------*/
@media (max-width: 950px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .info {
    width: 70%;
    margin: 0px auto;
  }
  .title,
  .desc {
    text-align: center;
    margin-bottom: 40px;
  }
  .rates {
    width: 100%;
    height: max-content;
    gap: 20px;
  }
  .rate {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 16px;
  }
  .stars {
    margin-top: 15px;
  }
  .rate p {
    text-align: center;
    margin-bottom: 15px;
  }
  .reviews {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .cardReview {
    width: 331px;
  }
  .top,
  .medium,
  .bottom {
    align-self: center;
  }
}
@media (max-width: 450px) {
  body {
    background: url("../images/bg-pattern-top-mobile.svg") no-repeat left top,
      url("../images/bg-pattern-bottom-mobile.svg") no-repeat right bottom;
  }
  .info {
    width: 95%;
  }
  .title {
    font-size: 34px;
  }
  .desc {
    font-size: 12px;
  }
  .rate {
    width: 100%;
  }
  .cardReview {
    width: 95%;
    max-height: none;
  }
}
/* END OF MEDIA QUERIES ---------------------------------------------------------------------------*/
